.mainBrand{
    background-image: url('https://cutewallpaper.org/21/gif-black-background/Pin-on-Super-gif.gif');
    background-repeat: repeat;
    color:white; 
    margin-bottom: -1.2%;
    background-size: cover;
}

.mainImg{
    padding-top: 1%;
    width: 200px;
    height: auto;
}

.subtitle{ 
    padding-bottom: 2%;
}

.requestBtn:hover{
    background-color: black !important;
}

.postImg{
    display: block;
    margin-left: auto;
  margin-right: auto;
    width: 150px;
    height: auto;
}

.postCard{
    margin-bottom: 5%;
}